/* universal */
*{
    margin: 0;
    padding: 0;
    font-family: Playfair;  
}
body{
    background-color: black;
    color:seashell;   
}
/* header and nav */
header{
    width:100%;
    position:fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;    
}
h1{
    font-size: 60px;
    width: 450px;
    padding-left: 20px;
    opacity:.7;
}
.child2{
    width: 850px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items:center;  
}
.navbar .navlink{
list-style-type: none;
}
.navlink{
    padding: 0px 20px;
    font-size: 35px;
    opacity:.7;

}
.navlink a{
    text-decoration: none;
    color:seashell;
    cursor: pointer;
    transition: border-radius 0.15s, background-color 0.15s, color 0.15s;
}
.navlink a:hover{
   background-color: seashell;
   color:black;
   border-radius: 5px;
   transition: opacity 0.15s;
}
.navlink a:active{
opacity: .5;
 }
 /* main.aboutme */
 main{
    position:relative;
    width:100%;
 }
 .justme{
    height:700px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
 flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid seashell;
   background-color: black;
   background-image: url(https://c4.wallpaperflare.com/wallpaper/448/699/737/3d-4k-black-geometric-wallpaper-preview.jpg);
 background-position: center;
 background-repeat:repeat-x;
 background-blend-mode:luminosity;
 background-size:contain;
}
.mybiopic{
    height: 350px;
    width: 350px;
    background-color: aqua;
    border-radius: 50%;
    margin-bottom: 30px;
}
.greet{
   margin: 20px 0; 
   font-size: 35px;
   background-color: black;
   width:100%;
   text-align: center;    
   line-height: 50px; 
}
p{
    background-color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;   
}

.recproj{
    display: inline-block;
    font-size: 35px;
    margin: 10px 20px;
}
.listproj{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items:center;
margin:20px;
}
.work{
    margin: 0 20px;

}
#workpic1 #workpic2{
    opacity: .8;
}



