/* universal */
*{
    margin: 0;
    padding: 0;
    font-family:Playfair, Georgia, serif ;
    background-color: black;
    color:seashell;  
}
/* header and nav */
header{
    width:100%;
    position:fixed;
    border-bottom: 1px solid seashell;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
    z-index: 1;       
}

h1{
    font-size: 55px;
    padding-left: 20px;
    opacity:.7;
   
}
.rightsection{
    flex:1;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center; 
    flex-direction: row;
   
    
}

.navlink{
    padding: 0px 20px;
    font-size: 35px;
    opacity:.7;
    list-style-type: none;
   

}
 /* main.aboutme */
 main{
    position:relative;
    width:100%;
 }
 .justme{
   
    height: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid seashell;
    /* background */
    background-color: black;
 
}
.justme img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-bottom: 30px;
   
}
.greet{
   margin: 20px 0; 
   font-size: 35px;
   background-color: black;
   width:100%;
   text-align: center;    
   line-height: 50px; 
}
p{
    background-color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;   
}
/* recent projects */
#projects{
    border-bottom: 1px solid seashell;
}
.listproj{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items:center;
margin:20px;

}
.work{
    margin: 0 20px;

}
.work img{
    opacity: .8;
}

.title{
    display: inline-block;
    font-size: 35px;
    margin: 10px 20px;}
/* contactinfo */


.contactinfo{
    margin-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contactinfo ul{
    text-align: center;
    margin: 10px 0;
}
.contactinfo li{
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;   
}
/* anchors */
.navlink a{
    transition: border-radius 0.15s, background-color 0.15s, color 0.15s;
}
.work a{
    transition: text-decoration .15s, opacity .15s;
}
.navlink a, .work a{
    text-decoration: none;
    color:seashell;
    cursor: pointer;}
.work a{
    transition: text-decoration .15s, opacity .15s;
}
.navlink a:hover{
    background-color: seashell;
    color:black;
    border-radius: 5px;
    transition: opacity 0.15s;
 }
.atext:hover{
text-decoration: underline;
}
.work a img:hover{
    opacity: .5;
}
.navlink a:active, .work a:active{
    opacity: .3;
    }

    /* media queries */

    @media (max-width: 1211px){
        h1{
            font-size:45px;
    
        }
    
        .navlink{
            font-size: 25px;
        }
       
    }

    @media (max-width: 957px){
        h1{
            font-size:35px;
    
        }
    
        .navlink{
            font-size: 15px;
        }
       
    }

    @media (max-width: 604px){
        h1{
            font-size:20px;
    
        }
    
        .navlink{
            font-size: 15px;
        }
    }
       
        @media (max-width: 393px){
            h1{
                font-size:15px;
        
            }
        
            .navlink{
                font-size: 10px;
            }
           
    }

    
        

        